@import url(https://fonts.googleapis.com/css?family=Oswald:regular,500,700&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Oswald";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Oswald";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

svg {
  height: 1em;
  width: 1em;
}

svg path {
  stroke: inherit;
  fill: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  margin: 0 auto;
  width: 1920px;
  /*
  > main {
  	flex: 1 1 auto;
  }
  */
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 45.625rem;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.header {
  background-color: #fff;
}

.header__container {
  padding: 15px 31px 0 31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 15px;
}

.header__emblem {
  max-width: 40px;
}

.header__emblem img {
  max-width: 100%;
}

.header__menu {
  font-weight: 700;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
}

.header__item a:hover {
  color: #00CCCC;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

body {
  background-color: #00CCCC;
}

.page {
  background-color: rgb(212, 211, 211);
}

.page__container {
  background-color: #fff;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
}

.page__header {
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  padding-top: 10px;
  padding-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page__title {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 30px;
  font-weight: 700;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.page__title a:hover {
  color: #00CCCC;
}

.page__profile-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  font-size: 20px;
  font-weight: 500;
}

.page__line {
  border: 1px solid black;
}

.page__profile-link {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.page__profile-link:hover {
  text-decoration: underline;
  color: #00CCCC;
}

.page__auth {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.page__auth:hover {
  text-decoration: underline;
  color: #00CCCC;
}

.page__comment-input {
  padding-top: 80px;
  padding-bottom: 20px;
  border-bottom: 1px solid grey;
}

.page__comment-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.page__form-area {
  width: 690px;
  height: 50px;
  resize: none;
  padding: 0px 15px;
  border-bottom: 1px solid grey;
  margin-bottom: 10px;
  font-size: 20px;
}

.page__form-area:focus {
  outline: none;
}

.page__form-area::-webkit-input-placeholder {
  font-size: 20px;
  color: #00CCCC;
}

.page__form-area::-moz-placeholder {
  font-size: 20px;
  color: #00CCCC;
}

.page__form-area:-ms-input-placeholder {
  font-size: 20px;
  color: #00CCCC;
}

.page__form-area::-ms-input-placeholder {
  font-size: 20px;
  color: #00CCCC;
}

.page__form-area::placeholder {
  font-size: 20px;
  color: #00CCCC;
}

.page__form-button {
  padding: 15px 20px;
  background-color: #00CCCC;
  border-radius: 5%;
}

.page__form-button:active {
  background-color: #00a3a3;
}

.look-comment {
  padding-top: 20px;
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
}

.look-comment__name-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
          column-gap: 20px;
}

.look-comment__text {
  line-height: 1.25;
}

.nav__list-edit {
  max-width: 27.75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 5px;
    -moz-column-gap: 5px;
          column-gap: 5px;
}

.nav__list-edit img {
  width: 100%;
}


.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login__container {
  padding: 80px 100px;
  background-color: #fff;
  border-radius: 5px;
}

.login__form {
  font-size: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.login__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}

.login__pass {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}

.login__button {
  padding: 15px 30px;
  background-color: #00cccc;
  border-radius: 5px;
}

.nameinput:focus {
  outline-color: #00cccc;
}

.log-link {
  padding-top: 10px;
}

.log-link a {
  color: #00cccc;
}

.log-link a:hover {
  text-decoration: underline;
}

.login {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login__container {
  padding: 80px 100px;
  background-color: #fff;
  border-radius: 5px;
}

.login__form {
  font-size: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.login__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}

.login__pass {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}

.login__button {
  padding: 15px 30px;
  background-color: #00cccc;
  border-radius: 5px;
}

.nameinput {
  outline-color: #00cccc;
}

.reg-link {
  padding-top: 10px;
}

.reg-link a {
  color: #00cccc;
}

.reg-link a:hover {
  text-decoration: underline;
}
.msg {

  color:red;

}